*
{
    font-family: cursive;
}
.navbar
{
    text-align: right;
}
.a
{
    font-size: 14px;
    position: relative;
    background: #444;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .25em;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    transition: all .30s;
    border-radius: 50%;
}
.a:hover
{
    background: #333;
}
.a:hover::after
{
    width: 100%;
    left: 0;
}
.a::after
{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";

    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%; /* Circular shape */
    background: rgba(0, 255, 0, 0.5); /* Green glow with reduced opacity */
    transition: all 0.3s; 
}