
*
{
    box-sizing: border-box;
}
body
{
    margin: 5px 5px;
    padding: 0;
    font-family : cursive;
    /*background-image: url("design\ 7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position-x: 350px;
    background-color:#ffffff;*/
}
.pk
{
    background: #ffffff;
    background: -webkit-linear-gradient(to right,#00ffed,#0088ba); 
    background: linear-gradient(to right, #00ffed,#0088ba);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    text-transform: uppercase;
    
}
h1,h3,h2{
    /*color: #66bfbf ;*/
    color: rgb(0, 0, 0);
}
.grid-wrapper-icons
{
    justify-items: center;
    display:grid;
    gap: 0.1rem;
    grid-row-gap: 3rem;
    margin: 1rem 10%;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
    
}
.grid-wrapper-icons .image
{
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: center;
    
}
.image img{
    max-width: 180px;
    max-height: 150px;
}

hr 
{
    height: 8px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    margin: 10px auto;
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #f6ff00, #00ff1e);
    background: linear-gradient(to right, #f6ff00, #00ff1e);
}
.intro
{
    display: table;
    grid-template-columns: repeat(2,1fr);
}
.row
{
    display: table-row;
}
.pic,.greeting
{
    display:table-cell;
    vertical-align: middle;
    padding:5% 10px;
}
.pic img
{
    height: 200px;
}
#im
{
    font-size: 40px;
}
#im img
{
    height: 45px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
#skills
{
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
}

.design-1
{
    max-width: 180px;
    max-height: 180px;
    position:absolute;
    left: 85%;
}
#img-2
{
    position:absolute;
    max-width: 250px;
    max-height: 250px;
    margin: left 10%;;
    
}
#img-3
{
    position:absolute;
    max-width: 250px;
    max-height: 250px;
    left: 80%;
}
.img {
   overflow-clip-margin: content-box;
   overflow: clip;
}
@media only screen and (max-width: 768px)
{

    *
    {
        font-family: monospace;
    }
    .body
    {
        font-family: monospace;
        font-size: 16px;
    }
    .grid-wrapper-icons
    {
        grid-template-columns: repeat(1,1fr);
    }
    .intro
    {
        display: block;
    }
    .pic.greeting
    {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .pic img
    {
        width: 100%;
        height: 100%;
    }
    .design-1
    {
        max-width: 20%;
        max-height: 20%;
        left: 75%;
    }
    #img-2
    {
        max-width: 20%;
        max-height: 20%;
        left: 2%;
    }
    #img-3
    {
        max-width: 20%;
        max-height: 20%;
        left: 75%;
    }
    .pic img
    {
    height: 120px;
    width: 120px;
    }
    #im
    {
    font-size: 30px;
    }
    #im img
    {
    height: 35px;
    }
}